name: Build Project
permissions:
  contents: read
  pull-requests: write

on:
    pull_request:
        branches:
            - dev

concurrency:
    group: build-${{ github.event.pull_request.number || github.ref }}
    cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    env:
        TAIGA_PATH_R: ${{ secrets.TAIGA_PATH_R }}
        TAIGA_KEY_PASS_R: ${{ secrets.TAIGA_KEY_PASS_R }}
        TAIGA_STORE_PASS_R: ${{ secrets.TAIGA_STORE_PASS_R }}
        TAIGA_ALIAS_R: ${{ secrets.TAIGA_ALIAS_R }}
        ENCODED_STRING_R: ${{ secrets.TAIGA_KEYSTORE_R }}

    steps:
      - name: Check out the repo
        uses: actions/checkout@v6

      - name: Setup Android Environment
        uses: ./.github/actions/android-setup-composite-action

      - name: Assemble gradle fdroid project
        run: ./gradlew assembleFdroidDebug

      - name: Assemble gradle gplay project
        run: ./gradlew assembleGplayDebug