name: Release

on:
    push:
        tags:
            - v*

jobs:
    release:
        permissions: write-all
        runs-on: ubuntu-latest
        if: startsWith(github.ref, 'refs/tags/')
        env:
            TAIGA_PATH_R: ${{ secrets.TAIGA_PATH_R }}
            TAIGA_KEY_PASS_R: ${{ secrets.TAIGA_KEY_PASS_R }}
            TAIGA_STORE_PASS_R: ${{ secrets.TAIGA_STORE_PASS_R }}
            TAIGA_ALIAS_R: ${{ secrets.TAIGA_ALIAS_R }}
            ENCODED_STRING_R: ${{ secrets.TAIGA_KEYSTORE_R }}

            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        steps:
            - name: Check out the repo
              uses: actions/checkout@v6

            - name: Setup Android Environment
              uses: ./.github/actions/android-setup-composite-action

            - name: Restore taigamobilenova_keystore_release.jks
              run: echo $ENCODED_STRING_R | base64 -d > ./taigamobilenova_keystore_release.jks

            - name: Build Release Fdroid APK
              run: |
                  ./gradlew assembleFdroidRelease assembleFdroidDebug

            - name: Build Release Gplay APK and AAB
              run: |
                  ./gradlew assembleGplayRelease bundleGplayRelease

            - name: Upload Release Build To Artifacts
              uses: actions/upload-artifact@v6
              with:
                  name: release-artifacts
                  path: |
                      app/build/outputs/apk/*
                      app/build/outputs/bundle/*

            - name: Create GitHub release
              uses: softprops/action-gh-release@v2
              with:
                  generate_release_notes: true
                  draft: false
                  make_latest: true
                  preserve_order: true
                  files: |
                      app/build/outputs/apk/fdroid/release/app-fdroid-release.apk
                      app/build/outputs/apk/fdroid/debug/app-fdroid-debug.apk
                      app/build/outputs/apk/gplay/release/app-gplay-release.apk
                      app/build/outputs/bundle/gplayRelease/app-gplay-release.aab